@using yeniIl.Models
@{
    ViewData["Title"] = "Index";
    var count = 0;
}
@model List<Portfolio>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 style="display:inline-block">Setting</h1>
            <a asp-action="create" class="btn btn-primary float-right">Create New</a>
        </div>
        <div class="col-lg-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Title</th>
                        <th scope="col">Text</th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Portfolio portfolio in Model)
                    {
                        count++;
                        <tr>
                            <th scope="row">@count</th>
                            <td>@portfolio.Title</td>
                            <td>@(portfolio.Text.Length<=50?(portfolio.Text):(portfolio.Text.Substring(0,50)))</td>
                            <td>
                                <img style="width:200px; height:100px;" src="~/uploads/portfolios/@portfolio.Image" />
                            </td>
                            <td>
                                <a asp-action="edit" asp-route-id="@portfolio.Id" class="btn btn-primary">Edit</a>
                                <a asp-action="delete" asp-route-id="@portfolio.Id" class="btn btn-warning deleteBtn">Delete</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.all.min.js"></script>
}
